@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,200;1,300&display=swap');


*{
    /* Por defecto viene content-box: ancho final (width+padding+border) */
    /* Border-box: ancho contenido (width-padding-border) */
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
    color: #ccc;
    background-color: #012;
}

#header, #footer, main, article, section, #contact{
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 100, .5);
}

.header, nav, section, #contact{
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.header h1, .subtitle{
    margin: .2rem;
}

#menu{
    background-color: black;
    display: block;
    height: 2rem;
    width: 100%;
    max-width: 400px;
}

.menu{
    padding: 0;
    margin: 0;
    list-style: none;    
}

.menu a{
    display: block;
    color: #ccc;
    background-color: #222;
    text-decoration: none;
    padding: .2rem 40%;
}

.menu a:hover{
    background-color: #111;
}

section{
    margin: .5rem auto;
    padding: 1rem;
}

progress, meter{
    width: 100%;
    height: 30px;
}

iframe, video, svg, canvas{
    height: 200px;
    border: 1px solid #ccc;
    border-radius: .5rem;
}

#contact input{
    margin: .5rem auto;
    width: 100%;
}

#contact textarea{
    height: 6rem;
    resize: none;

}
